<div class="cont-all">
  <div class="rectangulo-blanco">
    <div class="all">
    <app-logo></app-logo>
    <div class="contenedor-porpouse">
    <div class="content">
    <h1>¿Para que usaras K-book?</h1>
    <div class="botones">
  <button class="btn-estudiante">Estudiante</button>
  <button class="btn-profesor">Profesor</button>

</div>
</div>
<div class="cont-imgs">
<img src="img/flechas.png" alt="flecha" class="flecha-izquierda">
  <img src="img/idea.jpeg" alt="nada">
  <img src="img/flechas.png" alt="flecha" class="flecha-derecha">
  </div>
</div>
</div>
    </div>
</div>
