.cont-all {
  background-image: url('/img/bg_ft.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.rectangulo-blanco {
  background-color: white;
  width: 70%;

  position: absolute;
  top: 15%;

  left: 15%;
  border-radius: 50px;
}
.all{
  padding: 20px;
margin: 0 auto;
}
.content{
  text-align: center;
  margin-top: 10%!important;
  margin: 0 auto;
}
.contenedor-porpouse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
}
.content h1{
  font-size: 50px;
  font-family: "Archivo Narrow", sans-serif;
  color: #011E2C;
  font-weight:600;
}

.botones{
margin-top: 6%;
display: inline-flex;
gap: 480px;

}
button {
  color: #377483; /* Color del texto cuando no está en hover */
  width: 250px;
  height: 72px;
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  background-color: transparent; /* Fondo transparente inicialmente */
  cursor: pointer;
  box-shadow: none; /* Sin sombra inicialmente */
  transition: all 0.3s ease; /* Transición suave para el hover */
}

button:hover {
  color: white; /* Color del texto en hover */
  background-color: #377483; /* Fondo cuando está en hover */
  box-shadow: 2px 6px 12px 0px black; /* Sombra en hover */
}
img{
  height: 300px;
  width: 300px;

}
.cont-img{
  margin-top: 2%;
}
.flecha-derecha, .flecha-izquierda{
transform: rotate(21deg);
}
.flecha-derecha{
  transform: rotate(-21deg) scaleX(-1);
}
