.container {
    max-width: 80%;
    height: 90px;
    border: 0.5px #377483 solid;
    border-radius: 0px 0px 15px 8px;
    background-color: #377483;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.image {
    height: 80px;
    width: 80px;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.boton{
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.text {
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}

.actions {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}


.action {
    height: 40px;
    width: 40px;
    object-fit: cover;
}
