<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
</head>

<div class="container">
  <div class="logo">
    <img src="/img/unbg_lowres.png" class="image" alt="" />
    <p class="text">K-book</p>
  </div>
  <img src="/img/botones.png" class="boton" alt="" />
  <div class="actions">
    <button type="button" (click)="openOutput()">
      <img src="/img/btn-doc.png" class="action" alt="" />
    </button>
    <a href="#">
      <img src="/img/compartir.png" class="action" alt="" />
    </a>
    <a href="/comunidad">
      <img src="/img/btn-comunidad.png"  class="action" alt="" />
    </a>
    <a href="/auth/perfil">
      <img src="/img/GILBERT.png" class="action" alt="" />
    </a>
  </div>
</div>
