
nav {
    height: 92px;
    
    align-items: center;
    display: flex;
    border-bottom: 3px solid white 
}
  
  .contenedor-nav {
    display: flex;
    justify-content: space-between; 
    width: 90%; 
    margin: 0 auto;
  }
  
  .enlace-izquierda {
    color: #fff; 
    text-decoration: none; 
    letter-spacing: 10px;
    font-size: 24px !important;
  }
  
  .enlaces-derecha {
    display: flex; 
    gap: 30px;
    align-items: center;
  }
  
  a {
    color: #fff; 
    text-decoration: none; 
    margin-right: 30px; 
    font-size: 20px;
    font-family: "Archivo Narrow", sans-serif;
  }
  