<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
</head>

<div class="main-container">
  <div class="text">
    <div class="CONTENT">
      <h2 class="Titulo">Documentación</h2>
      <div class="subtitulo">
        <h4>Ciclo repetitivo For</h4>
      </div>
      <div class="descripcion">
        <p>
          El ciclo for es un ciclo repetitivo que se usa en determinadas
          ocasiones, por ejemplo, para repetir ciertas instrucciones un numero
          determinado de veces como en este ejemplo:
        </p>
      </div>

      <div class="codigo">
        <p>
          <span class="funciones">iterar </span>
          <span class="variable">x</span>
          <span class="palabras"> desde </span>
          <span class="parametros">1</span>
          <span class="palabras"> hasta </span>
          <span class="parametros">10 </span>
          <span class="llaves">&#123;</span>
        </p>
        <p class="fila_secundaria">
          <span class="funciones">imprimir (</span>
          <span class="variable">x</span>
          <span class="funciones">); </span>
          <br />
        </p>
        <span class="llaves">&#125;</span>
      </div>

      <div class="descripcion">
        <p>
          En este caso se ve la variable x, esta variable se denomina variable
          de control, esta variable es la que tomará los valores en nuestro
          ciclo, para este caso la variable x tomará los valores desde 1 (el
          inicio) hasta 10 (el final)
        </p>
      </div>
      <div class="descripcion">
        <p>
          Asimismo se puede usar cuando se desea recorrer una cadena o un array,
          en el cual se pasa por cada uno de los elementos y ese valor es que le
          toma la variable de control
        </p>
      </div>

      <div class="codigo">
        <p>
          <span class="funciones">iterar </span>
          <span class="variable">letra</span>
          <span class="palabras"> en </span>
          <span class="parametros">"saludo" </span>
          <span class="llaves">&#123;</span>
        </p>
        <p class="fila_secundaria">
          <span class="funciones">imprimir(</span>
          <span class="variable">letra</span>
          <span class="funciones">);</span>
        </p>
        <span class="llaves">&#125;</span>
      </div>
    </div>
  </div>
</div>
<!--
<pre>
<code>
iterar x desde 1 hasta 10 {
  imprimir(x);
}
</code>
</pre>
<p>En este caso se ve la variable x, esta variable se denomina variable de control, esta variable es la que tomará los valores en nuestro ciclo, para este caso la variable x tomará los valores desde 1 (el inicio) hasta 10 (el final)</p>
<p>Asimismo se puede usar cuando se desea recorrer una cadena o un array, en el cual se pasa por cada uno de los elementos y ese valor es el que se toma la variable de control</p>
<pre>
<code>
iterar letra en "saludo" {
  imprimir(letra);
}
</code>
</pre>
-->
