 .main-container{
    width: 100%;
    max-height: 373px; 
 }

 .contenido{
    margin: 5px 10px;
 }

 .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-container h2{
    margin: 0 10px 0 0; 
}

 .enunciado{
    margin: 40px 10px 15px 40px;  
    font-family: 'Archivo Narrow', sans-serif; 
    font-size: small;
 }
 
.btn-bajo{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.btn-bajo.rotated {
    transform: rotate(180deg);
}

.linea {
    margin-top: 35px;
}