<section class="w-full max-h-screen overflow-auto grid grid-cols-2">
    <div class="relative rounded-r-2xl max-h-screen shadow-lg shadow-black grid grid-rows-4">
        <div class="w-full flex content-start">
            <img src="/img/unbg_lowres.png" class="object-cover w-28 h-28" alt="">
        </div>
        <div class="m-auto w-3/5 col-span-6">
            <div class="w-full mb-6">
                <h3 class="text-2xl text-center">Entra a tu cuenta</h3>
            </div>
            <form class="grid grid-rows-3 gap-3">
                <div class="w-full h-20 rounded-3xl bg-gris">
                    <p for="" class="pl-7 mt-2 text-[#011E2C] opacity-55">Email o username</p>
                </div>
                <div class="w-full h-20 rounded-3xl bg-gris">
                    <p for="" class="pl-7 mt-2 text-[#011E2C] opacity-55">Contraseña</p>
                </div>
                <button class="bg-primary-azul text-white w-full h-20 rounded-3xl">Entrar</button>
            </form>
            <div class="w-full grid grid-rows-2 gap-2">
                <div class="w-full border-b border-b-black py-4 flex">
                    <a href="/recuperar" class="m-auto">Olvidate tu contraseña?</a>
                </div>
                <div class="flex">
                    <span class="font-medium m-auto">Nuevo por aqu&iacute;? <a href="/registro" class="text-primaty-verde">Registrate</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="max-h-screen">
        <img src="/img/as_login.jpeg" class="object-cover w-full h-full" alt="">
    </div>
</section>