/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS puro y duro */
.cont-back{
    background-image: url(/img/bg_ft.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}