.contenedor-perfil {
  background-image: url(/img/bg_ft.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.wrapper {

  width: 80%;
  background: transparent !important;
  border: 2px solid #FDFBF6;
  backdrop-filter: blur(30px) !important;
  box-shadow: 0 0 10px #242422;
  color: #242422;
  border-radius: 35px;
  padding: 60px;
  margin: 0 auto;
}

.contenido-perfil{
padding: 5% 0;
}


.separador-line {
  margin-top: 4%;
  border-top: 1px solid white;
  height: 0;
  width: 100%;
}
.form-sep{
  margin-top: 3%;
  display: flex;
  gap: 10px;
}
.separador{
display: flex;
gap: 52px;
}
.contenedor-cont{
  margin-top: 3%;
  display: flex;
  gap: 11%;
}
.editar-perfil h1{
  font-family: "Archivo Narrow", sans-serif;
  color: white;
    font-weight: normal;
}
.form-btn{
  display: flex;
  flex-direction: column;
  gap: 30px;
}