.main-container {
  background-color: #011E2C;
}
 
.container {
  display: flex;
}

.documentacion {
  flex: 0 0 500px;
  background-color: #011E2C;
  color: white;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.main-content > * {
  flex: 1;

}

.editor-container {
  display: flex;
  flex: 1;
}

.editor {
  flex: 3;
  background-color: #011E2C;
  color: white;
}

.ejercicios {
  width: 18%; /* Ocupa el 25% del ancho */
  flex: 0 0 30%;
  background-color: #011E2C;
  color: white;
  position: absolute;
  right: 20px;
  top: 0;
}

.output {
  flex: 1;
  background-color: black;
  border-radius: 15px 5px 0 0;
  color: green;
  font-family: monospace;
}
