<section class="w-full overflow-auto grid grid-cols-2">
  <img src="/img/bg_registro.jpeg" class="object-cover" alt="">

  <div class="cont-new-user relative shadow-lg shadow-black grid ">
    <app-logo></app-logo>
    <div class="content-new m-auto col-span-11">
      <div class="w-full mb-6">
        <h3 class="text-center">Crea una cuenta</h3>
      </div>
      <form class="grid grid-rows-3 gap-5">
        <app-input-field [label]="'Nombre de Usuario'" [type]="'text'"/>
        <app-input-field [label]="'Nombre de Instituci&oacute;n'" [type]="'text'"/>
        <app-input-field [label]="'Grado de Estudio'" [type]="'text'"/>
        <app-input-field [label]="'Fecha de cumpleaños'" [type]="'date'"/>
        <app-input-field [label]="'Email'" [type]="'email'"/>
        <app-password-field [label]="'Contraseña'"/>
        <app-password-field [label]="'Confirme su Contraseña'"/>
        <app-button [text]="'Registrarse'"/>
      </form>
      <div class="w-full grid">
        <app-line></app-line>
        <div class="cont-already flex">
          <span class="font-medium m-auto">Ya tienes una cuenta? <a [routerLink]="'/auth/login'" class="text-primaty-verde">Entra aqu&iacute;</a></span>
        </div>
      </div>
    </div>
  </div>
</section>
