<div class="content">
  <h1>Mis cursos</h1>
  <div class="lista-cursos">
    <div class="columnas">
      <app-userstadistics [percentage]="100" [texto]="'✓ Completado'" [titulo]="'Pseudo-lenguaje Kaeli '"></app-userstadistics>
      <app-userstadistics [percentage]="40" [texto]="'Arreglos y Vectores'" [titulo]="'C++'"></app-userstadistics>
    </div>
    <div class="columnas">
      <app-userstadistics [percentage]="10" [texto]="'Definicion de Funciones'" [titulo]="'Python'"></app-userstadistics>
    </div>
  </div>

</div>
