.main-container{
    border-right: 1px white solid;
    border-radius: 15px;
    height: 100%;
}

.contenedor-titulo{ 
    display: flex;
    justify-content: center;
    align-items: center;    
}
.titulo{
    display: flex;
    margin-top: 25px;
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: white;    
    margin-bottom: 30px;
    letter-spacing: 4px;
}
.titulo img{
    margin-left: 20px;
    height: 40px;
    width: 40px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    background-color: #1E293B;
    color: white;
    border: none;
    border-radius: 19px;
    cursor: pointer;    
    text-align: center;
}

.boton-activo{
    background-color: #377483;
}

.botones:hover{
    background-color: #377483;
}