.contenedor-titulo{
    display: flex;
    align-items: center;    
    margin-top: 25px;
}
.titulo{
    text-align: center;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    margin-left: 55px;
    letter-spacing: 3px; 
}

.buscador{
    margin-left: 80px;
}

.contenedor-contenido{
    margin-top: 15px;
    margin-left: 55px;
}

.texto{
    color: white;
    font-size: small;
}

.ejemplo {
    margin-top: 15px;
    background-color: #eeffcc;
    border-radius: 5px; 
    font-family: 'Courier New', Courier, monospace;    
    max-width: 60%;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 15px;
}

.ejemplo code {
    font-size: 12px;
    color: #333;
}

.imagen{
    margin-top: 10px;
    max-width: 35%;
    max-height: 35%;
}

.nube {
    position: absolute;
    left: 0.5;
    bottom: 0;
    width: 120px;
    opacity: 0.7;
}
