.contenedor-logo{
    display: flex;
    align-items: center;
    margin-bottom: -10%;
}
.text-logo{
    font-family: "Kanit", sans-serif;
    color: #011E2C;
    font-weight: 400;
    font-size: 36px;
}

.image{
    height: 125px;
    width: 125px;
}
